@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {

    font-family: "Open Sans", sans-serif;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.6;
    color: #677788;
    text-align: left;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1 {
    color: #1e2022;
    font-size: 1.41094rem;
    font-weight: 600;
}

h2 {
    font-size: 1.3125rem;
    color: #1e2022;
    font-weight: 600;
}

h5 {
    font-size: .875rem;
    color: #1e2022;
    font-weight: 600;
}
.bg-custom-image{
    background-image: url("assets/svg/abstract-bg-4.svg");
}
.bg-profile-image{
    background-image: url("assets/images/img1.jpg");
}
select:focus {
    border: none!important;
    outline: none;
    box-shadow: none;

}
select{
    border: none!important;
    font-size: .8125rem;
}
.border-custom {
  border: .0625rem solid rgba(231, 234, 243, .7);
}
.shadow-custom {
  box-shadow: 0 6px 12px rgba(140, 152, 164, .075);
}